<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/header.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="./js/developer.js"></script>
	<title>지졸!</title>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="top-bar">
				<a href="start.html">
					<div id="circles-container" class="flex-item">
						<div id="red" class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>
				</a>
				<div id="nav">
					<div id="nav1" class="nav"><a href="main_content.html">Guide</a></div>
					<div id="nav3" class="nav">Feedback</div>
					<div id="nav4" class="nav"><a href="developer.html">Developers</a></div>
				</div>
			</div>
		</div>
		<div id="container">
			<div id="developer_name">
				<div class="content_nav" id="content1_title">김철희</div>
				<div class="content_nav" id="content2_title">이재선</div>
				<div class="content_nav" id="content3_title">최은기</div>
				<div class="content_nav" id="content4_title">김성훈</div>
			</div>
			<div id="introduction">
				<div id="introduction_cover">
					<div id="Fe" class="content">
						<div class="introduction_top">
							<img src="./pictures/yeji.jpg" alt="">
							<div class="summary">
								루삥뽕뽕삥빵삥뿡
							</div>
						</div>
						<div class="introduction_bottom">에베ㅔ베베베ㅔㅂ</div>
					</div>
					<div id="rejaealsun" class="content hide">
						<div class="introduction_top">
							<img src="./pictures/yeji.jpg" alt="">
							<div class="summary">나이 이름 기여 부분</div>
						</div>
						<div class="introduction_bottom">글로 설명</div>
					</div>
					<div id="silver_plate" class="content hide">
						<div class="introduction_top">
							<img src="./pictures/yeji.jpg" alt="">
							<div class="summary">나이 이름 기여 부분</div>
						</div>
						<div class="introduction_bottom">글로 설명</div>
					</div>
					<div id="strix" class="content hide">
						<div class="introduction_top">
							<img src="./pictures/yeji.jpg" alt="">
							<div class="summary">나이 이름 기여 부분</div>
						</div>
						<div class="introduction_bottom">글로 설명</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>