{% extends 'base.html' %}

{% block content %}
    {% if upload_complete %}
        <table border=1>
           <thead>
              <tr>
                 <th style="width: 200px; border: 1px solid #000000;">분류</th>
                 <th style="width: 200px; border: 1px solid #000000;">카테고리</th>
                 <th style="width: 200px; border: 1px solid #000000;">필요학점</th>
                 <th style="width: 200px; border: 1px solid #000000;">수강학점</th>
                 <th style="width: 200px; border: 1px solid #000000;">비고</th>
              </tr>
           </thead>
        </table>
        {% for course,key in course_list.items %}
        <table border=1>
            <tbody><!-- 기본 한 개 -->
                  <td style="width: 200px; border: 1px solid #000000; " rowspan={{ key|length|add:"1" }}>{{ course }}</td>
            {% for value in key %}
                        <tr>
                              {% for w in value %}
                                  {% if '/' in w %}
                                     <td style="width: 200px; border: 1px solid #000000; " rowspan={{ key|length|add:"1" }}>{{ w }}</td>
                                  {% else %}
                                    <td style="width: 200px; border: 1px solid #000000;">{{ w }}</td>
                                  {% endif %}
                              {% endfor %}
                        </tr>
            {% endfor %}
        {% endfor %}
              <!-- 나머지 -->
            </tbody>
        </table>
        총 수강학점은 {{ total }}/130 입니다. 비 분류 학점은 {{ unclassfied_credit }}점이 추가로 있습니다.
    {% else %}
        <form method="post" enctype="multipart/form-data">
            <div class="file-droppable">
                <div>Drag-n-drop some file here</div>
                <span>&times;</span>
                {% csrf_token %}
                <input type="file" name="document" id="file_enter">
            </div>
        <button type="submit">Upload</button>
        </form>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.querySelectorAll('.file-droppable').forEach(function(droppable) {
            var originalText = droppable.querySelector('div').innerHTML;
            var input = droppable.querySelector('input');
            var fileChanged = function() {
              var files = input.files;
              if (files.length) {
                droppable.querySelector('span').style.display = 'block';
                droppable.querySelector('div').innerHTML = '';
                        for (var i = 0; i < files.length; i++) {
                            droppable.querySelector('div').innerHTML += files[i].name + '<br>';
                }
                droppable.classList.add('filled');
              } else {
                droppable.querySelector('div').innerHTML = originalText;
                droppable.classList.remove('filled');
                droppable.querySelector('span').style.display = 'none';
              }
            };
            input.addEventListener('change', fileChanged);
            fileChanged(input);
            droppable.querySelector('span').addEventListener('click', function() {
                  input.value = '';
                fileChanged(input);
            });
          });
        });
    </script>
{% endblock %}